name: Deploy to Glitch

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy to Glitch
        uses: jakejarvis/glitch-deploy@master
        with:
          dir: './dist'
          project_id: ${{ secrets.GLITCH_PROJECT_ID }}
          token: ${{ secrets.GLITCH_TOKEN }}
