name: "Mi primer Workflow"

on: 
  workflow_dispatch:
  
  push: 
    branches:
      - main
      - master
      - develop
      
jobs:
  compile: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3.5.3
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.5.2
        with:
          version: 18.x
      
      - name: Install
        run: npm ci --silent
      

  
