name: "Mi primer Workflow"

on: 
  workflow_dispatch:
  
  push: 
    branches:
      - main
      - master
      - develop
      
jobs:
  compile: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      
      - name: Install and Build
        run: |
          npm ci
          npx run build
        working-directory: .
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build
          
      

  
